@model POS.ViewModel.PurchaseOrderDetailsViewModel

<h4 class="text-center">Add Purchase Order</h4>
<hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <div class="input-group">
                    @Html.HiddenFor(model => model.VariantID, new { @class = "form-control" })
                    <input type="text" id="NamaItem" class="form-control" />
                    <div class="input-group-btn">
                        <button type="button" id="btn-src-item" class="btn btn-flat btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

                @Html.ValidationMessageFor(model => model.VariantID, "", new { @class = "text-danger" })
            </div>
        </div>
        
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>In Stok</th>
                        <th>Order</th>
                        <th>Unit Cost</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="list-detail-item"></tbody>
            </table>
    
    <div class="modal-footer">
        <div class="col-md-2 pull-right">
            <button type="button" class="btn btn-primary  btn-save col-md-12" data-dismiss="modal">Add</button>
        </div>
        <div class="col-md-2 pull-left">
            <button type="button" class="btn btn-default col-md-12" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    </div>
}

