@model IEnumerable<POS.ViewModel.PurchaseOrderViewModel>


<h2>Pruschase Order</h2>
<div class="form-horizontal">
    <div class="input-group">
        <input type="hidden" id="search-type" value="item" />
        <input type="text" id="search-txt" class="form-control" placeholder="Search Key" />
        <span class="input-group-btn">
            <button class="btn btn-primary" id="btn-src-modal"><i class="fa fa-search"></i></button>
        </span>

        <div class="col-md-2 pull-right">
            <button type="button" class="btn btn-primary btn-sm create-po">Create Purchase Order</button>
        </div>
        <div class="col-md-1 pull-right">
            <button id="export-po" type="button" class="btn btn-primary btn-sm">Export</button>
        </div>
    </div>



</div>
<b></b>
<div class=" box">
    <div class="box-body">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th class="text-center col-md-2">
                        @Html.DisplayName("Date")
                    </th>
                    <th class="text-center col-md-2">
                        @Html.DisplayNameFor(model => model.Supplier)
                    </th>
                    <th class="text-center col-md-2">
                        @Html.DisplayNameFor(model => model.OrderNo)
                    </th>
                    <th class="text-center col-md-2">
                        @Html.DisplayName("Total")
                    </th>
                    <th class="text-center col-md-2">
                        @Html.DisplayName("Status")
                    </th>
                    <th class="text-center col-md-1">
                        Tools
                    </th>
                </tr>
            </thead>

            <tbody class="text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Supplier)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusName)
                        </td>

                        <td>
                            <button type="button" class="btn btn-warning btn-xs btn-detail" data-id="@item.ID"><i class="glyphicon glyphicon-edit"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@*menampilkan Pop Up pada halaman pertama untuk manampilkan create purchase order*@
<div id="modal-purchaseorder" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modal-purchaseorder-data" class="modal-body">

            </div>

        </div>
    </div>
</div>

@*menampilkan Pop Up yang kedua pada saat klik tombol add po pada pop up create po  maka muncul nama item yang mau ditambahkan*@
<div id="modal-podetail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modal-podetail-data" class="modal-body">

            </div>

        </div>
    </div>
</div>


@*menampilkan Pop Up yang ketiga klik tombol search di modal untuk mencari item yang mau ditambahkan serta untuk search item*@
<div id="search-item-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="hidden" id="search-type" value="item" />
                    <input type="text" id="search-txt" class="form-control" placeholder="Mencari Item" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="btn-src-itemvariant"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="row">
                    <div id="search-data-itemvariant" class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#order').val('0');
            $('#unit-cost').val('0');

            $('#modal-purchaseorder-data').on('click', '.click-edit', function () {
                var vID = $(this).attr('data-id');
                $.ajax({
                    url: '@Url.Action("Edit","PurchaseOrder")',
                    data: { Id: vID },
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-podetail').modal('show');
                    }
                });
                $('#modal-podetail').modal('show');
            });

            $('.btn-detail').click(function () {
                var vId = $(this).attr('data-id');
                $.ajax({
                    url: '@Url.Action("Detail", "PurchaseOrder")',
                    data : {Id : vId},
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-purchaseorder-data').html(result);
                        $('#modal-purchaseorder').modal('show');
                    }
                });
            });
            //pop up add purchase order(tombol create po)
            $('.create-po').click(function () {
                $.ajax({
                    url: '@Url.Action("Add","PurchaseOrder")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-purchaseorder-data').html(result);
                        $('#modal-purchaseorder').modal('show');
                    }
                });
            });
            //Pop up order details(tombol add po)
            $('#modal-purchaseorder-data').on('click', '.btn-add-po', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("OrderDetail", "PurchaseOrder")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-podetail-data').html(result);
                        $('#modal-podetail').modal('show');
                    }
                });
            });
            //popup menampilkan item
            $('#modal-podetail-data').on('click', '#btn-src-item', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("GetItem", "AJAX")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $("#search-data-itemvariant").html(result);
                        $("#search-item-modal").modal('show');
                    },
                });
            });

            //mencari item di list item
            $('#search-item-modal').on('click', '#btn-src-itemvariant', function () {
                var type = $("#search-type").val();
                var txtSearch = $("search-txt").val();
                $.ajax({
                    url: '@Url.Action("GetItemSearch", "AJAX")',
                    data: { searchKey: txtSearch },
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $("#search-data-itemvariant").html(result);
                    },
                });
            });

            //menambahkan data pada saat kilk tombol ceklis
            $("#search-data-itemvariant").on("click", ".btn-ok-item", function (e) {
                e.preventDefault();
                var vID = $(this).attr("data-id");
                var vNamaVariant = $(this).attr("data-NamaVariant");
                var vstok = $(this).attr("data-stok");
                var vData =
                    '<tr>' +
                        '<td><input type="hidden" name="VariantID" value="' + vID + '"/>' + vNamaVariant + '</td>' +
                        '<td>' + vstok + '</td>' +
                        '<td><input name="Quantity" type="text" class="orderc form-control read" style="width:60px;" id="order_' + vID + '"/></td>' +
                        '<td><input name="UnitCost" type="text" class="unit-cost form-control read" style="width:100px;" id ="unitcost_' + vID + '"/></td>' +
                        '<td><input name="SubTotal" type="text" class="totalc form-control read" style="width:100px;" id="total_' + vID + '" readonly="readonly"/></td>' +
                        '<td><button type="button" class="btn btn-danger btn-xs btn-del-item"><i class="fa fa-trash-o" ></i></button></td>' +
                    '</tr>';

                $("#list-detail-item").append(vData);
                $("#search-item-modal").modal('hide');
            });
        //hitung subtotal
            $('#modal-podetail-data').on('change', '.unit-cost', function (e) {
                e.preventDefault();
                var order = $(this).parent().parent().find(".orderc").val();
                var unitcost = $(this).parent().parent().find('.unit-cost').val();
                var subtotal = parseInt(order) * parseInt(unitcost);
                $(this).parent().parent().find('.totalc').val(subtotal);
            });


            //mendelete data yang sudah ditambahkan di modal po detail
            $("#modal-podetail-data").on("click", ".btn-del-item", function (e) {
                e.preventDefault();
                $(this).parent().parent().remove();
            });

            //mendelete data yang sudah ditambahkan di modal po create
            $("#modal-purchaseorder-data").on("click", ".btn-del-item", function (e) {
                e.preventDefault();
                $(this).parent().parent().remove();
            });
            //add data ke modal po
            $('#modal-podetail-data').on('click', '.btn-save', function (e) {
                e.preventDefault();

                var aData = $('#list-detail-item').contents();
                $('#list-detail-po').append(aData);
            });

            //save data purchase order
            $("#modal-purchaseorder-data").on("submit", "form-addpurchaseorder", function (e) {
                e.preventDefault();
                alert('tes');
                var vData = $(this).serialize();
                var vUrl = $(this).attr('action');
                var vMethod = $(this).attr('method');
                $.ajax({
                    url: vUrl,
                    data: vData,
                    method: vMethod,
                    success: function (result) {
                        if (result.success) {
                            $('#modal-purchaseorder').modal('hide')
                        }
                        else {
                            $('#modal-purchaseorder-data').html('show')
                        }
                    }
                });
            });

        });
    </script>
}