@model IEnumerable<POS.ViewModel.PurchaseOrderViewModel>


<h2>Pruschase Order</h2>

<b></b>
<div class=" box">
    <div class="box-header">
        <div class="input-group">
            <input type="text" id="search-txt" class="form-control" placeholder="Search Key" />
            <span class="input-group-btn">
                <button class="btn btn-primary" id="btn-srcindex"><i class="fa fa-search"></i></button>
            </span>

            <div class="col-md-3">
                @Html.DropDownList("StatusID", (IEnumerable<SelectListItem>)ViewBag.ListStatus, "All Status", new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <button id="export-po" type="button" class="btn btn-primary btn-sm">Export</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-sm create-po">Create Purchase Order</button>
            </div>
        </div>

    </div>
    <div id="content" class="box-body">

    </div>
</div>

@*menampilkan menu detail*@
<div id="modal-podetailedit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modal-podetailedit-data" class="modal-body">

            </div>

        </div>
    </div>
</div>

@*menampilkan Pop Up pada halaman pertama untuk manampilkan create purchase order*@
<div id="modal-purchaseorder" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modal-purchaseorder-data" class="modal-body">

            </div>

        </div>
    </div>
</div>

@*menampilkan Pop Up yang kedua pada saat klik tombol add po pada pop up create po  maka muncul nama item yang mau ditambahkan*@
<div id="modal-podetail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modal-podetail-data" class="modal-body">

            </div>

        </div>
    </div>
</div>



@*menampilkan Pop Up yang ketiga klik tombol search di modal untuk mencari item yang mau ditambahkan serta untuk search item*@
<div id="search-item-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body">
                <div class="input-group">
                    <input type="text" id="search-txt2" class="form-control" placeholder="Mencari Item" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="btn-srcitem"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="row">
                    <div id="search-data-itemvariant" class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        function LoadData() {
            $.ajax({
                url: '@Url.Action("Load","PurchaseOrder")',
                dataType: 'html',
                type: 'GET',
                success: function (result) {
                    $('#content').html(result);
                }
            });
        };
        $(document).ready(function () {
            LoadData();
            $('#order').val('0');
            $('#unit-cost').val('0');

            $("#StatusID").change(function () {
                var vId = $(this).val();
                if (vId == 0) {
                    LoadData();
                }
                else {
                    $.ajax({
                        url: "@Url.Action("GetDataByStatus", "PurchaseOrder")",
                        data: { id: vId },
                        dataType: 'html',
                        type: 'GET',
                        success: function (result) {
                            $("#content").html(result);
                        },
                    });
                }

            });

        //meanampilkan edit
            $('#modal-podetailedit-data').on('click', '.click-edit', function () {
                var vID = $(this).attr('data-id');
                $.ajax({
                    url: '@Url.Action("Edit","PurchaseOrder")',
                    data: { Id: vID },
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-purchaseorder-data').html(result);
                        $('#modal-purchaseorder').modal('show');
                    }
                });
            });

            //menampilkan detail
            $('#content').on('click', '.btn-detail', function () {
                var vStatus = $(this).attr('data-status');
                var vId = $(this).attr('data-id');
                if (vStatus > 1) {
                    $(this).empty;
                }
                else {
                    $.ajax({
                        url: '@Url.Action("Detail", "PurchaseOrder")',
                        data: { Id: vId },
                        dataType: 'html',
                        type: 'GET',
                        success: function (result) {
                            $('#modal-podetailedit-data').html(result);
                            $('#modal-podetailedit').modal('show');
                        }
                    });
                }

            });
            //pop up add purchase order(tombol create po)
            $('.create-po').click(function () {
                $.ajax({
                    url: '@Url.Action("Add","PurchaseOrder")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-purchaseorder-data').html(result);
                        $('#modal-purchaseorder').modal('show');
                    }
                });
            });
            //Pop up order details(tombol add po)
            $('#modal-purchaseorder-data').on('click', '.btn-add-po', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("OrderDetail", "PurchaseOrder")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-podetail-data').html(result);
                        $('#modal-podetail').modal('show');
                    }
                });
            });
            //popup menampilkan item
            $('#modal-podetail-data').on('click', '#btn-src-item', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("GetItem", "AJAX")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $("#search-data-itemvariant").html(result);
                        $("#search-item-modal").modal('show');
                    },
                });
            });

            //tombol search index
            $('#btn-srcindex').click(function () {
                var txtSearch = $("#search-txt").val();
                    $.ajax({
                        url: '@Url.Action("GetDataSearch", "PurchaseOrder")',
                        data: { searchKey: txtSearch },
                        dataType: 'html',
                        type: 'GET',
                        success: function (result) {
                            $("#content").html(result);
                        },
                    });
            });

            //tombol search item
            $('#btn-srcitem').click(function () {
                var txtSearch = $("#search-txt2").val();
                $.ajax({
                    url: '@Url.Action("GetItemSearch", "AJAX")',
                    data: { searchKey: txtSearch },
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $("#search-data-itemvariant").html(result);
                    },
                });
            });

           


            //menambahkan data pada saat kilk tombol ceklis
            $("#search-data-itemvariant").on("click", ".btn-ok-item", function (e) {
                e.preventDefault();
                var vID = $(this).attr("data-id");
                var vNamaVariant = $(this).attr("data-NamaVariant");
                var vstok = $(this).attr("data-stok");
                var vData =
                    '<tr>' +
                        '<td><input type="hidden" name="VariantID" value="' + vID + '"/>' + ' <input type="hidden" name="PODetailID" value="' + 0 + '"/>' + vNamaVariant +
                        '</td>' +
                        '<td>' + vstok + '</td>' +
                        '<td><input name="Quantity" type="text" class="orderc form-control read" style="width:60px;" id="order_' + vID + '"/></td>' +
                        '<td><input name="UnitCost" type="text" class="unit-cost form-control read" style="width:100px;" id ="unitcost_' + vID + '"/></td>' +
                        '<td><input name="SubTotal" type="text" class="totalc form-control read" style="width:100px;" id="total_' + vID + '" readonly="readonly"/></td>' +
                        '<td><button type="button" class="btn btn-danger btn-xs btn-del-item"><i class="fa fa-trash-o" ></i></button></td>' +
                    '</tr>';

                $("#list-detail-item").append(vData);
                $("#search-item-modal").modal('hide');
            });
            //hitung subtotal
            $('#modal-podetail-data').on('change', '.unit-cost,.orderc', function (e) {
                e.preventDefault();
                var order = $(this).parent().parent().find(".orderc").val();
                var unitcost = $(this).parent().parent().find('.unit-cost').val();
                var subtotal = parseInt(order) * parseInt(unitcost);
                $(this).parent().parent().find('.totalc').val(subtotal);
            });


            //mendelete data yang sudah ditambahkan di modal po detail
            $("#modal-podetail-data").on("click", ".btn-del-item", function (e) {
                e.preventDefault();
                $(this).parent().parent().remove();
            });

            //mendelete data yang sudah ditambahkan di modal po create
            $("#modal-purchaseorder-data").on("click", ".btn-del-item", function (e) {
                e.preventDefault();
                $(this).parent().parent().remove();
            });
            //add data ke modal po
            $('#modal-podetail-data').on('click', '.btn-save', function (e) {
                e.preventDefault();

                var aData = $('#list-detail-item').contents();
                $('#list-detail-po').append(aData);
                $(":disabled");
            });

            //save data purchase order
            $("#modal-purchaseorder-data").on("submit", "form-addpurchaseorder", function (e) {
                e.preventDefault();
                var vData = $(this).serialize();
                var vUrl = $(this).attr('action');
                var vMethod = $(this).attr('method');
                $.ajax({
                    url: vUrl,
                    data: vData,
                    method: vMethod,
                    success: function (result) {
                        if (result.success) {
                            $('#modal-purchaseorder').modal('hide')
                        }
                        else {
                            $('#modal-purchaseorder-data').html('show')
                        }
                    }
                });
            });

        });
    </script>
}