@model IEnumerable<POS.ViewModel.PurchaseOrderViewModel>


<h2>Pruschase Order</h2>
<div class="row">
    <div class="input-group">
        <input type="hidden" id="search-type" value="item" />
        <input type="text" id="search-txt" class="form-control" placeholder="Search Key" />
        <span class="input-group-btn">
            <button class="btn btn-primary" id="btn-src-modal"><i class="fa fa-search"></i></button>
        </span>

        <input type="hidden" id="search-type" value="item" />
        <input type="text" id="search-txt" class="form-control" placeholder="Search Key" />
        <span class="input-group-btn">
            <button class="btn btn-primary" id="btn-src-modal"><i class="fa fa-search"></i></button>
        </span>

        <input type="hidden" id="search-type" value="item" />
        <input type="text" id="search-txt" class="form-control" placeholder="Search Key" />
        <span class="input-group-btn">
            <button class="btn btn-primary" id="btn-src-modal"><i class="fa fa-search"></i></button>
        </span>
    </div>
    
    <div class="col-md-2 pull-right">
        <button type="button" class="btn btn-primary btn-sm create-po">Create Purchase Order</button>
    </div>
    <div class="col-md-1 pull-right">
        <button id="export-po" type="button" class="btn btn-primary btn-sm">Export</button>
    </div>
   
</div>
<b></b>
<table class="table table-bordered table-striped">
    <tr>
        <th class="text-center col-md-2">
            @Html.DisplayName("Date")
        </th>
        <th class="text-center col-md-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th class="text-center col-md-2">
            @Html.DisplayName("Order No.")
        </th>
        <th class="text-center col-md-2">
            @Html.DisplayName("Total")
        </th>

        <th class="text-center col-md-2">
            @Html.DisplayName("Status")
        </th>
        <th class="text-center col-md-2">
            <p>Tools</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>

            <td>
                <button type="button" class="btn btn-warning btn-xs btn-edit" data-id="@item.ID"><i class="glyphicon glyphicon-edit"></i></button>
            </td>
        </tr>
    }

</table>

<div id="modal-purchaseorder" class="modal modal-info fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="create-po close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modal-purchaseorder-data" class="modal-body">

            </div>

        </div>
    </div>
</div>

<div id="modal-podetail" class="modal modal-info fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="create-po close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modal-podetail-data" class="modal-body">

            </div>

        </div>
    </div>
</div>

<div id="search-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="hidden" id="search-type" value="item" />
                    <input type="text" id="search-txt" class="form-control" placeholder="Search Key" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="btn-src-modal"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="row">
                    <div id="search-data" class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.create-po').click(function () {
                $.ajax({
                    url: '@Url.Action("Add","PurchaseOrder")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-purchaseorder-data').html(result);
                        $('#modal-purchaseorder').modal('show');
                    }
                });
            });
            $('#modal-purchaseorder-data').on('click', '.btn-add-po', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("OrderDetail", "PurchaseOrder")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-podetail-data').html(result);
                        $('#modal-podetail').modal('show');
                    }
                });
            });

            $('#modal-purchaseorder-data').on('click', '.btn-add-po', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("OrderDetail", "PurchaseOrder")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $('#modal-podetail-data').html(result);
                        $('#modal-podetail').modal('show');
                    }
                });
            });

            $('#modal-podetail-data').on('click', '#btn-src-item', function (e) {
                e.preventDefault();
                $("#search-type").val("item")
                $.ajax({
                    url: '@Url.Action("GetItem", "AJAX")',
                    dataType: 'html',
                    type: 'GET',
                    success: function (result) {
                        $("#search-data").html(result);
                        $("#search-modal").modal('show');
                    },
                });
            });

            $('#btn-src-modal').click(function () {
                var type = $("#search-type").val();
                var txtSearch = $('#search-txt').val();
                if (type == 'item') {
                    $.ajax({
                        url: '@Url.Action("GetItemSearch", "AJAX")',
                        data: { searchKey: txtSearch },
                        dataType: 'html',
                        type: 'GET',
                        success: function (result) {
                            $("#search-data").html(result);
                        },
                    });
                }
            });

            $("#search-data").on("click", ".btn-ok-item", function (e) {
                e.preventDefault();
                var vID = $(this).attr("data-id");
                var vJudul = $(this).attr("data-judul");
                var vstok = $(this).attr("data-stok");
                var vData = '<tr>' +
                        '<td><input type="hidden" name="IDBuku" value="' + vID + '"/>' + vKode + '</td>' +
                        '<td>' + vJudul + '</td>' +
                        '<td>' + vstok + '</td>' +
                        '<td><button type="button" class="btn btn-danger btn-xs btn-del-item"><i class="fa fa-trash-o" ></i></button></td>' +
                    '</tr>';
                $("#list-detail-po").append(vData);
                $("#search-modal").modal('hide');
            });

            $("#list-detail-po").on("click", ".btn-del-item", function (e) {
                e.preventDefault();
                $(this).parent().parent().remove();
            });
        });
    </script>
}