<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Net 95 Mart</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        @Html.Partial("_LayoutHeader")
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><!--<i class="fa fa-dashboard"></i>--><a href="@ViewBag.TitleUrl"> @ViewBag.Title </a></li>
                    <li><a href="@ViewBag.SubTitleUrl"> @ViewBag.SubTitle</a></li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        @Html.Partial("_LayoutFooter")
        @Html.Partial("_LayoutSidebarControl")
        <div class="control-sidebar-bg"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/adminlte");
    @RenderSection("scripts", required: false)
</body>
</html>
