@model IEnumerable<POS.ViewModel.ItemIventoryViewModel>

<table class="table">
    <thead>
        <tr>
                     
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VariantName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Adjusment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VariantName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Adjusment)
                </td>
            </tr>
        }

    </tbody>
</table>



