@model IEnumerable<POS.ViewModel.ListItemViewModel>

@using (Html.BeginForm("Edit", "Items", null, FormMethod.Post, new { @id = "form-item" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-8">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Items Name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.listCategories, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <h5>Variant</h5><hr />
        <div class="box">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>SKU</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="list-item-variant">
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model.ListVariant)
                    {
                        <tr>
                            <td>
                            <input type="hidden" id="VariantId_ @i.ToString()" name="VariantId" value="@Html.DisplayFor(m=>item.ID)">
                            <input type="text" class="form-control" id="variantName_ @i.ToString()" name="VariantName" value="@Html.DisplayFor(m=>item.VariantName)"></td>
                            <td><input type="text" class="form-control" id="variantSKU_ @i.ToString()" name="VariantSKU" value="@Html.DisplayFor(m=>item.SKU)"></td>
                            <td><input type="text" class="form-control" id="variantPrice_ @i.ToString()" name="VariantPrice" value="@Html.DisplayFor(m=>item.Price)"></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>

        @*<div class="form-group">
                <div class="col-md-12">
                    <button id="btn-edit-variant" class="btn btn-block btn-primary" type="button">Manage Variant</button>
                </div>
            </div>*@

        <h5>Inventory</h5><hr />
        <div class="box">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>In Stock</th>
                        <th>Alert At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="list-item-inventory">
                    @{
                        int j = 0;
                    }
                    @foreach (var item in Model.ListInventory)
                    {
                        <tr>
                            <td><input type="hidden" id="InventoryId_@j.ToString()" name="InventoryId">
                            <input type="text" class="form-control" readonly="readonly" id="InvName_ @j.ToString()"  name="InventoryName" value="@Html.DisplayFor(m=>item.VariantName)" /></td>
                            <td><input type="text" class="form-control" id="InvinStock_ @j.ToString()"  name="Beginning" value="@Html.DisplayFor(m=>item.Beginning)" /></td>
                            <td><input type="text" class="form-control" id="InvAlertAt_ @j.ToString()"  name="AlertAt" value="@Html.DisplayFor(m=>item.AlertAt)" /></td>
                        </tr>
                        j++;
                    }
                </tbody>
            </table>
        </div>

        @*<div class="form-group">
                <div class="col-md-12">
                    <button id="btn-edit-inventory" class="btn btn-block btn-primary" type="submit">Manage Item Inventory and Alerts</button>
                </div>
            </div>*@


        <h5>Description</h5><hr />
        <div class="form-group">
            <div class="col-md-12">
                <textarea rows="3" cols="83"></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" type="submit">Save</button>
                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
}